:root {
    --main-purple: #1b1b32;
    --main-blue: #45567d;
    --main-gray: #303841;
    --main-white: #ffffff; 
}

body {
    background-color: #2d2d2d;
    color: white;
}

nav {
    background-color: #1a1a1a;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}


.search-bar-container {
    background-color: #3a3a3a;
    padding: 5px;
    display: flex;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    transition: width 0.3s ease;
    overflow: hidden;
    position: relative;
}

.search-bar-container.active {
    width: 300px;
}

#magnifier {
    width: 30px;
    height: 30px; 
    cursor: pointer;
    margin-left: 10px; 
    margin-right: 10px; 
}

.input {
    background-color: transparent;
    border: none;
    width: 100%;
    outline: none;
    color: rgb(100, 100, 100);
    display: none;
}

.search-bar-container.active .input {
    display: block; 
}

i{
  font-size: 30px;
}

.counter-container {
    display: flex;
    align-items: center; 
    margin-left: 10px; 
    color: white;/* #f5f5dc */
}

.counter {
    font-size: 30px;
    margin-left: 5px;
}

/* PROJECTS SECTION */
.projects-section {
    text-align: center;
    padding: 10rem 2rem;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
}

.project {
    background: var(--main-purple);
}

.project-image {
    height: calc(100% - 6.8rem);
    width: 100%;
    object-fit: cover;
}

.project-title {
    font-size: 2rem;
    padding: 2rem 0.5rem;
    color: white;
    text-decoration: none; 
    border: none;
}

.project-section p{
    text-decoration: none; 
    border: none;
    margin: 20px 10px;
    text-align: center;
    color: white;
}
