:root {
    --main-purple: #1b1b32;
    --main-blue: #45567d;
    --main-gray: #303841;
    --main-white: #ffffff; /* Adding white variable */
}

body {
    background-color: #2d2d2d;
    color: white;
}

nav {
    background-color: #1a1a1a;
}

.container {
    display: flex;
    justify-content: space-between; /* Align items to the sides */
    align-items: center; /* Vertically center align */
    padding: 20px; /* Add padding */
}


.search-bar-container {
    background-color: #3a3a3a;
    padding: 5px;
    display: flex;
    align-items: center; /* Vertically center align */
    width: 50px; /* Initial width when inactive */
    height: 50px;
    border-radius: 50px;
    transition: width 0.3s ease; /* Smooth transition for width */
    overflow: hidden; /* Prevent overflow of content */
    position: relative; /* Enable positioning for child elements */
}

.search-bar-container.active {
    width: 300px; /* Expanded width when active */
}

#magnifier {
    width: 30px;
    height: 30px; /* Set height for centering */
    cursor: pointer;
    margin-left: 10px; /* Space from the left */
    margin-right: 10px; /* Space from the right */
}

.input {
    background-color: transparent;
    border: none;
    width: 100%; /* Full width when expanded */
    outline: none;
    color: rgb(100, 100, 100);
    display: none; /* Hide input initially */
}

.search-bar-container.active .input {
    display: block; /* Show input when active */
}

i{
  font-size: 30px;
}

.counter-container {
    display: flex;
    align-items: center; /* Vertically center align */
    margin-left: 10px; /* Set left margin to 10px */
    color: #296ca8;
}

.counter {
    font-size: 30px;
    margin-left: 5px;
}

/* PROJECTS SECTION */
.projects-section {
    text-align: center;
    padding: 10rem 2rem;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
}

.project {
    background: var(--main-purple);
}

.project-image {
    height: calc(100% - 6.8rem);
    width: 100%;
    object-fit: cover;
}

.project-title {
    font-size: 2rem;
    padding: 2rem 0.5rem;
    color: white;
    text-decoration: none; 
    border: none;
}
